body{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.one,.two,.three,.four,.five,.six,.seven{
	padding: 5px;
        box-sizing: border-box;
	border: 2px solid black;
	margin-top: 1px;
	margin-right: 1px;
	width: 100%;
}

.one{
	background-color: #ffe6cc;
}

.two{
	background-color: orange;
	text-align: center;

}
.three{
        background-color:yellow;
	max-width: 200px;
	min-width: 200px;
	text-align: right;
}

.four{
	background-color: #009900;
	text-align: center;
}

.five {
    background-color: #809fff;
}

.six{
	background-color: #366bd0;
	min-width: 30%;


}

.seven{
	background-color: #808080;
	min-width: 30%;


}

.one, .five{
	min-width: 375px;
	max-width: 375px;

}
.row1, .row2, .row3{
	display:flex;
	flex-direction: row;	
}
	
@media screen and (max-width: 1050px){
	.row1,.row2{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column; 
		min-width: 350px; 
	    align-items: center;
	}
}
@media screen and (max-width: 1200px){
	.row3{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column; 
 		min-width: 350px; 
		align-items: center;
	}
}
@media screen and (max-width: 390px){
	
	.one,.five{
		min-width: 100%;
		}

}


