#cloud1 {
position: absolute;
left: 30%;
}

#cloud2 {
position: absolute;
right: 30%;
}

#paud {

	position: absolute;
	left: 13%;
    top: 75%;
}

.row{
	width: 20%;
	flex-direction: column;
}
.row1{
	width: 100%;
}


.row,.row1{
    display:flex;	

}
#rain5,#rain6,#rain7{
	left: 23%;
	/*margin-top: 50px;*/
    position: relative;  
    width: 50%;
}

.rainrow{
	margin-top: 50px;
flex-direction: column;
}
#rain6{
	left: 21.5%;
}

#rain7{
	left: 20%;
}
#sun{
	left: 48%;
	margin-top: 20px;
    position: relative;
    /*max-height: 270px;  */
    height: 120px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: absolute;
    min-height: 100%;
}
body{
	background-color:  grey;
}

#thun{
	position: absolute;
    left: 45%;
    top: 30%;
    z-index: -1;
    display: none;
}
.reuse{
	visibility: hidden;
	margin-left: 50%;
	height: 30px;

}
button{
	font-size: 20px;
}

.row1{
	text-align: center;
}

#text {
    position: absolute;
    text-align: center;
    margin: auto;
    position: static;
    visibility: hidden;
}

#text p {
    font-size: 30px;
}

#elements {
    height: 40px;
    width: 100%;
    overflow: hidden;
    width: 85%;
    padding-bottom: 30px;
    float: right;
}

.elem {
    height: 150px;
    float: left;
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
}